<h1>EffPage#pageofeffects</h1>
<p>Find me in app/views/eff_page/pageofeffects.html.erb</p>

<ul>
 <li><a href="/effects/eff01.html" target="_blank">ЭФФЕКТ 1</a></li>
 <li><a href="/effects/eff02.html" target="_blank">ЭФФЕКТ 2</a></li>
 <li><a href="/effects/eff03.html" target="_blank">ЭФФЕКТ 3</a></li>
 <li><a href="/effects/eff04.html" target="_blank">ЭФФЕКТ 4</a></li>
 <li><a href="/effects/eff05.html" target="_blank">ЭФФЕКТ 5</a></li>
</ul>
