<h1>ОНЛАЙН РЕПЕТИТОР</h1>
<p>главная страница... </p>
<p>тут в общем про онлайн репетиртор </p>
<ul>
 <li><a href="lessons/rus.html" target="_blank">УРОКИ РУССКОГО</a></li>
 <li><a href="lessons/bel.html" target="_blank">УРОКИ БЕЛОРУССКОГО</a></li>
 <li><a href="lessons/eng.html" target="_blank">УРОКИ АНГЛИЙСКОГО</a></li>
 <li><a href="eff_page/pageofeffects.html" target="_blank">ЭФФЕКТЫ</a></li>
</ul>

<%= javascript_include_tag 'gm_mnfst.js', 'data-turbolinks-track': 'reload' %> 

<h1>Уголки</h1>
  <p id="moves">Ходов: <span id="movecount">0</span></p>
  <script>
    initGame(null, document.getElementById('movecount'));
  </script>