<h1>Effects#eff05</h1>
<p>Find me in app/views/effects/eff05.html.erb</p>

<style>
#ortala{position:fixed;left:0;right:0;top:0;bottom:0;display:inline-block;margin:auto;width:200px;height:200px;}
section{margin:20px;position:relative;}
section div{position:absolute;padding:50px; border:2px dashed  #0097a7;border-radius:100%;display:inline-block;  animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;}

@-webkit-keyframes rotate {  
  from {    transform: rotate(0deg);  }
    to {     transform: rotate(360deg);  }
}
@-moz-keyframes rotate {  from {    transform: rotate(0deg);  }
  to {     transform: rotate(360deg);  }
}
@-o-keyframes rotate {  from {    transform: rotate(0deg);  }
  to {     transform: rotate(360deg);  }
}
/*Rotate Left*/@-webkit-keyframes rotateleft {  from {    transform: rotate(0deg);  }
  to {     transform: rotate(-360deg);  }
}
@-moz-keyframes rotateleft {  from {    transform: rotate(0deg);  }
  to {     transform: rotate(-360deg);  }
}
@-o-keyframes rotateleft {  from {    transform: rotate(0deg);  }
  to {     transform: rotate(-360deg);  }
}
    
</style>

<div id="ortala">
<section>
	<div><div><div><div><div><div><div>
	</div></div></div></div></div></div>
		</section>
	</div>