<h1>Effects#eff03</h1>
<p>Find me in app/views/effects/eff03.html.erb</p>

<style>
    body{
  width:100%;
  margin:0;
  overflow:hidden;
  
}
    
</style>


<canvas id="c" width="600" height="600">
<canvas id="c2" width="600" height="600">
<canvas id="c3" width="600" height="600">

<script type="text/javascript">

$(document).ready(function(){	
													   
	(function ($) {			    
			var	c = $('#c');
			var	c2 = $('#c2');
			var	c3 = $('#c3');			
			var	x2 = c2[0].getContext('2d');
			var	x = c[0].getContext('2d');
			var	w = c[0].width = window.innerWidth, 
          h = c[0].height = window.innerHeight;		
			var	img = new Image();	
			
			// fade / cloudy effect on image
			var	fade = function(p) {				
				var	opacity,
					fy = (Math.random()*285)>>0,
					fx = (Math.random()*285)>>0;
				
				this.p = p;
						
				this.move = function(time) {						
					p = this.p + 0.3 * time;				
					opacity = (Math.sin(p*0.05)*0.5);						
					if(opacity <0) {
						p = opacity = 0;
						fy = (Math.random()*285)>>0;
						fx = (Math.random()*285)>>0;
					}												
					this.p = p;																			
					x.globalAlpha = opacity;						
					x.drawImage(c3[0], fy+p, fy+p, 285-(p*2),285-(p*2), 0,0, w, h);								
				};
			};
			
			var	faders = [];			
			var	sortFade = function(p1,p2) { return p1.p-p2.p; };	
			faders.push( new fade(0) );
			faders.push( new fade(20) );
			faders.push( new fade(40) );
			
			var	currTime, prevTime = 0, time;
					
			var	loop = function()
			{								
				currTime = new Date().getTime();				
				if(prevTime === 0 ) {
					prevTime=currTime;
				}
				time = (currTime-prevTime) * 0.1;
				if(time>3) {time=3;}
				prevTime = currTime;						
				faders.sort(sortFade);							
				
				for(var i=0;i<faders.length;i++)
				{
					faders[i].move(time);	
				}					
				x2.drawImage( c[0] ,0,0,570,570);				
				window.requestAnimationFrame(loop);			
			};
		  //large image size on canvas 3
			var	c3 = $('#c3');
			var	x3 = c3[0].getContext('2d');
			$(img).bind('load',null, function() {  x3.drawImage(img, 0,0, 570, 570);	loop(); });
			img.src = 'https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSYhDywteRT1E3srobfp6sZHiz7eZntvoNtPBO0HMJ-g-RRDbAw';
		
	})(jQuery);	 
  window.addEventListener('resize', function(){
     c[0].width = window.innerWidth;
     c[0].height = window.innerHeight;		
  }, false);
});

</script>