 <%= javascript_include_tag 'app_test', 'data-turbolinks-track': 'reload' %>

<h1>БЕЛАРУСКАЯ МОВА</h1>
<p>общая страница для всех белорусских уроков - линки на уроки по бел</p>
<ul>
    <li><a href="/" target="_blank">главная</a></li>
    <li><><><>========<><><></li>
 <li><a href="bel01.html" target="_blank">бел урок 1</a></li>
 <li><a href="bel02.html" target="_blank">бел урок 2</a></li>
 <li><a href="bel03.html" target="_blank">бел урок 3</a></li>
</ul>
<p id="wq">FFF</p>
