<h1>УРОКI БЕЛАРУСКАЙ МОВЫ</h1>
<p>первый урок по белорусскому</p>
<a href="/" target="_blank">главная</a>
<h1>ТРЭНЕР ДЛЯ САФІІ</h1>
  <p id="testing">Вучы родную мову!</p>
  <button class="ourBttns" id="ourStart">ПАЧНЕМ</button>
  <h1 id="cont">YUOR COUNT</h1>
  <!--
  jjj 
  -->

<div class="worker" id="ourWord"><div id="ins"><p></p></div></div>
<button class="ourBttns" id="itsOK">ГАТОВА!</button>
<div class="worker" id="ourCheck"><p>ПРАВЕРКА</p></div>
<div class="worker" id="ourTask"><p></p></div>
<div id="litersSourse"><p>яшчэ</p></div>
<div id="toTrash"><%= image_tag("the_trash.png", size: "90x90", alt: "trash" ) %> </div>
  
<%= javascript_include_tag 'first_bel.js', 'data-turbolinks-track': 'reload' %> 

