<%= stylesheet_link_tag    'my_frmwrk', media: 'all', 'data-turbolinks-track': 'reload' %>
<div id="contnt">
    <div id="inf_block">
        
        <div class="infr" id="broad"></div>
        
        <div class="infr"></div>
        
        <div class="infr"></div>
        
        <div class="infr"></div>
        
        <div class="infr" id="isk"></div>
        
    </div>    
    
    <div id="work_field">
        
        <div class="our_wrd"></div>
        
        <div id="for_letters"></div>
        
    </div>
    
    <div id="func_bttns">
        <div class="bttns"></div>
        <div class="bttns"></div>
        <div class="bttns"></div>
        <div class="bttns"></div>
        <div id="logo"><%= image_tag "logo11032018_387x387.png" %></div>
    </div>
</div>

<script type="text/javascript">

for (var c = 0; c < 60; c++) {

    var str = "qwertyuiopasdfghjklzxcvbnm";
	var randNum = Math.floor(Math.random() * 99999);
	var ourLT = Math.floor(Math.random() * str.length);
	var ourD = Math.floor(Math.random() * str.length);
	var unicId = str[ourLT] + str[ourD] + randNum;

    var nwLttr = $('<div class="letter" id=' + unicId + '></div>');
    $('#for_letters').append(nwLttr);
}
    
</script>


