<%= javascript_include_tag 'app_test', 'data-turbolinks-track': 'reload' %>
<h1>АНГЛИЙСКИЙ - УРОК 3</h1>
<p>Find me in app/views/lessons/eng03.html.erb</p>
<a href="/" target="_blank">главная</a>

<p id="wq">ПРОВЕРКА - the_test.js</p>