<h1>ВСЕ УРОКИ РУССКОГО</h1>
<p>Find me in app/views/lessons/rus.html.erb</p>
<ul>
    <li><a href="/" target="_blank">главная</a></li>
    <li><><><>========<><><></li>
 <li><a href="rus01.html" target="_blank">рус урок 1</a></li>
 <li><a href="rus02.html" target="_blank">рус урок 2</a></li>
 <li><a href="rus03.html" target="_blank">рус урок 3</a></li>
</ul>
