<h1>РУССКИЙ ЯЗЫК - УРОК 1</h1>
<p>Это самый первый скрипт - примерно в середине февраля сделан 2018</p>
<a href="/" target="_blank">главная</a>

<button class="ourBttns" id="ourStart">НАЧНЕМ</button>
  <h1 id="cont">YUOR COUNT</h1>
  <!--
  jjj 
  -->

<div class="worker" id="ourWord"><div id="ins"><p></p></div></div>
<button class="ourBttns" id="itsOK">Готово!</button>
<div class="worker" id="ourCheck"><p>Проверочка</p></div>
<div class="worker" id="ourTask"><p>СОБЕРИ СЛОВО ТУТ</p></div>
<div id="litersSourse"><p>еще буквы</p></div>
<div id="toTrash"><%= image_tag("the_trash.png", size: "90x90", alt: "trash" ) %> </div>
  
<%= javascript_include_tag 'first_exp.js', 'data-turbolinks-track': 'reload' %> 

