// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
стили 12 02 2018
*/
body {
	font-family:Tahoma, sans-serif;
}
.litera {
	width: 9vh;
	height: 9vh;
	border-width: 3px;
	border-radius: 9px;
	border-style: solid;
	border-color: red;
	text-align: center;
	font-size: 3em;
	color: yellow;
}
#cont {
	display: none;
	z-index: 9;
	font-size: 3em;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	color: red;
    top: 41%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.ourBttns {
	margin: 3vh;
	position: absolute;
	top: 3vh;
	float: left;
	left: 36vw;
	width: 27vw;
	height: 9vh;
	margin-right: auto;
	margin-left: auto;
	background-color: green;
	border-style: solid;
	border-width: 5px;
	border-radius: 9px;
	border-color: red;
	color: yellow;
	font-family:Tahoma, sans-serif;
	font-weight: bolder;
	font-size: 1.75em;
}

#litersSourse {
	position: absolute;
	top: 3vh;
	right: 3vw;
	float: right;
	width: 63px;
	height: 63px;
	background-color: black;
	border-radius: 36px;
	border-style: solid;
	border-color: red;
	border-width: 5px;
	color: yellow;
	text-align: center;
}
#litersSourse p {
	display: none;
	margin-top: 1.5vh;
	cursor: pointer;
}

.worker {
	display: none; 
	background: #CDD6DB; 
	position: absolute;
	top: 18vh;
	right: 23vw;
	float: right;
	border-style: solid;
	border-width: 7px;
	border-radius: 18px;
	width: 55vw;
	height: 12vh;
	text-align: center;
}
.worker p {
	margin: 5px;
	position: relative;
	top: 3%;
	margin-right: auto;
	margin-left: auto;
	/*font-family:Tahoma, sans-serif;*/
	font-size: 3em;
	font-weight: bolder;
	color: #999;
}
#ourTask {
	border-color: orange;
}
#ourWord {
	border-color: green;
}
#ourCheck {
	border-color: blue;
}
#ins {
	width: 53.5vw;
	height: 9.5vh;
	/*border-style: solid;
	border-width: 2px;
	border-color: black;*/
	position: relative;
	top: 8.1%;
	left: 1%;
	z-index: 1;
}
#toTrash {
	position: absolute;
	top: 81vh;
	left: 1%;
}
#itsOK {
	display: none;
	left: 78vw;
	top: 17.5vh;
	width: 14vw;
}
.theWords {
	position: relative;
	margin-top: 71vh;
	height: 3vh;
	color: #ccc;
	text-align: right;
	font-size: 0.5em;
	padding: 0.18vw;
}