body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
#contnt {
    position: relative; 
    width: 100%;
    height: 100%;
    background-color: #1B5E20;
    text-align: center;
} 

#inf_block {
    position: absolute;
    top: 1.8%; 
    width: 98%;
    right: 1%;
    left: auto;
    height: 10%;
    /*background-color: #E8F8F5;*/
    text-align: center;
}

.infr {
    display: inline-block;
    margin: 3px 0.75% 0 auto;
    width: 17%;
    height: 81%;
    background-color: #795548;
    border: solid 3px;
    border-color: #ECEFF1;
    border-radius: 9px;
}
#isk {
    margin-right: 0 !important;
}

#work_field {
    position: absolute;
    width: 96%;
    height: 72%;
    top: 14%;
    left: 1.8%;
    right: auto;
    background-color: #795548;
    border: solid 3px;
    border-color: #ECEFF1;
    border-radius: 9px;
}
.our_wrd {
    position: absolute;
    top: 1.8%; 
    width: 82%;
    right: 9%;
    left: auto;
    height: 9.9%;
    background-color: #212121;
    text-align: center;
    border: solid 3px;
    border-color: #ECEFF1;
    border-radius: 9px;
}
#for_letters {
    position: absolute;
    top: 16.2%; 
    width: 98%;
    right: 1%;
    left: auto;
    height: 81%;
    /*padding-top: 1.4%;
    background-color: #E8F8F5; */
}
.letter {
    display: inline-block;
    width: 4.5vw;
    height: 4.5vw;
    margin: 0.5vw;
    background-color: #4E342E;
    border: solid 3px;
    border-color: #ECEFF1;
    border-radius: 9px;
}
#func_bttns {
    position: absolute;
    top: 88.5%; 
    width: 98%;
    right: 1%;
    left: auto;
    height: 9.9%;
    /*background-color: #E8F8F5;
    text-align: center;*/
}
.bttns {
    display: inline-block;
    float: right;
    margin: 3.2px 0.75% 0 auto;
    width: 21.6%;
    height: 80%;
    background-color: #212121;
    border: solid 3px;
    border-color: #ECEFF1;
    border-radius: 9px;
    
}
#logo {
    float: left;
    margin: 0.3vw auto auto 2vw;
    width: 3.6vw;
    height: 3.6vw;
    background-color: #4E342E;
    border: solid;
    border-width: 0.3vw;
    border-color: #ECEFF1;
    border-radius: 4.5vw;
    color: #45B39D;
}
#logo img {
        max-width: 100%;
        height: auto;
    }


@media screen and (orientation: portrait) {
    #inf_block {
        top: 0.9%;
        height: 18%;
    }
    .infr {
        height: 45%;
        /*background-color: #7DCEA0;*/
    }
    #broad {
        width: 90% !important; 
        margin-right: 0 !important;
    }
    #work_field {
        top: 21%;
        height: 63%;
        width: 95%;
    }
    .our_wrd {
        width: 90%;
        right: 4.5%;
        left: auto;
    }
    #func_bttns {
        top: 85.5%;
        height: 13.5%;
    }
    .bttns {
        width: 32%;
        height: 39.6%;
        margin-right: 1.8vh;
    }
    
    #logo {
        margin: -3.2vh auto auto 1.8vh;
        width: 6.3vh;
        height: 6.3vh;
        border-width: 0.3vh;
        border-radius: 3.6vh;
    }
    
    .letter {
        width: 4.5vh;
        height: 4.5vh;
        margin: 0.5vh;
    }
    
}
